<footer class="row" role="primary">
	<section class="four columns">
		<p>Copyright 2014</p>
	</section>
	<section class="eight columns">
		<nav>
			<a class="medium default btn" href="#">Past</a>
			<a class="medium default btn" href="#">Present</a>
			<a class="medium default btn" href="#">Future</a>
			<a class="medium default btn" href="#">GHOST</a>
		</nav>
	</section>
</footer>
