/* Fonts */

// Import Google Web Fonts
@import url(http://fonts.googleapis.com/css?family=Abel|Maven+Pro|Share+Tech|Economica|Open+sans:300,400,700|Open+Sans+condensed:300,700|Ropa+Sans|Gruppo|Megrim);

$abel: 'Abel', sans-serif;
$maven-pro: 'Maven Pro', sans-serif;
$economica: 'Economica', sans-serif;
$open-sans: 'Open Sans', sans-serif;
$open-sans-cond: 'Open Sans Condensed', sans-serif;
$ropa-sans: 'Ropa Sans', sans-serif;
$share-tech: 'Share Tech', sans-serif;
$gruppo: 'Gruppo', sans-serif;
$megrim: 'Megrim', sans-serif;

// Set local icon font
@font-face {
  font-family: '#{$icons}';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/icons/#{$icons}.eot);
  src: url('../fonts/icons/#{$icons}.eot?#iefix') format('ie9-skip-eot'),
       url('../fonts/icons/#{$icons}.woff') format('woff'),
       url('../fonts/icons/#{$icons}.ttf')  format('truetype');
}

// To include your own, local copies of fonts, use the following template
//
//@font-face {
//  font-family: '#{$some-font-variable}';
//  font-style: normal;
//  font-weight: 400;
//  src: url(../fonts/icons/#{$some-font-variable}.eot);
//  src: url('../fonts/icons/#{$some-font-variable}.eot?#iefix') format('ie9-skip-eot'),
//       url('../fonts/icons/#{$some-font-variable}.woff') format('woff'),
//       url('../fonts/icons/#{$some-font-variable}.ttf')  format('truetype');
//}
